<% if @girl.gallery_urls.length > 0 %>
<div id="box-img-thumb" class="form-details form-details-gallery sticky-md-top" style="top: 60px;">    
    <div id="gallery-images-girl" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <% @girl.gallery_urls(:thumb).each_with_index do |img, i| %>
                <button type="button" data-bs-target="#gallery-images-girl"
                 data-bs-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>" aria-current="true" 
                 aria-label="Slide <%= i %>"><%= image_tag(img, class:'bottom-carrousel') %></button>

            <%end%>
        </div>
        <div class="carousel-inner">
            <% @girl.gallery_urls(:normal).each_with_index do |img, i| %>
                <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                    <%= image_tag(img, class:'d-block w-100 img-carousel') %>
                </div>
            <%end%>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery-images-girl" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery-images-girl" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        

</div>
<% end %>