    <%= render './partials/header' %>
<div class="content-row">

    <section class="box_last_girls banner">
        <div class="container">
            <h4 class="title_head">
                Chicas Nuevas
            </h4>
            <div class="horizontal_slider">
                <%= render 'new_girls' %>
            </div>
        </div>
    </section>

    <div class="row">
        <% if @destacadas.present? %>
        <section class="box_destacadas col-sm-12 col-md-3">
            <div class="container">
                <h4 class="title_head">
                    Chicas Destacadas
                </h4>
                <div class="">
                    <%= render 'destacadas' %>
                </div>
            </div>
        </section>
        <%end%>
        
        <section class="grid col-sm-12 col-md-9" style="margin-top: 10px;">
            <%= render @girls %>
        </section>
    </div>

    
    <div class="box-bottom mt-100 text-center">
        <h1>Club MiTarde</h1>
        <h3>Únete a la comunidad</h3>
        <h6>Sé parte de una de las mejores multiplataformas de entretenimiento para adultos en Santiago de Chile.</h6>
        <%= link_to 'Únete', new_girl_path, class:'btn btn-outline-primary' %>
    </div>
</div>

