    <section class="nav-header">
        <div class="container">
            <%= link_to 'Únete a ...', new_girl_path, class:'btn btn-link' %>
        </div>
    </section>
    <section class="box_last_girls banner">
        <div class="container">
            <h4 class="title_head">
                Chicas Nuevas
            </h4>
            <div class="horizontal_slider">
                <%= render 'new_girls' %>
            </div>

        </div>
    </section>

    <% if @destacadas.present? %>
    <section class="box_destacadas">
        <div class="container">
            <h4 class="title_head">
                Chicas Destacadas
            </h4>
            <div class="">
                <%= render 'destacadas' %>
            </div>
        </div>
    </section>
    <%end%>

    <section class="grid" style="margin-top: 10px;">
        <%= render @girls %>
    </section>
    
    <div class="box-bottom mt-100 text-center">
        <h1>Club Escort</h1>
        <h3>Únete a la comunidad</h3>
        <h6>Sé parte de la mejor multiplataforma de anuncios de modelos y entretenimiento para adultos en Santiago de Chile.</h6>
        <%= link_to 'Únete', new_girl_path, class:'btn btn-outline-primary' %>
    </div>

