
<div class="box-comment box-comment-<%= comment.id %>">
    <div id="comment-<%= comment.id %>" class="d-flex">
        <% user = User.find(comment.user.to_i) %>
        <%= image_tag(user.avatar_url(:thumb), class:'img-circle-avatar image-circle-avatar-comment') %>
        <span class="position-relative d-flex">
            <div>
                <div class="title-message">
                    <%= user.nickname %>
                </div>
                <div id="message-<%= comment.id %>" class="message-message">
                    <%= comment.message %>
                </div>
            </div>
            <% if user_signed_in? && comment.user == current_user.id || @post.user == current_user %>
            <div class="dropdown dropup dropup-right">
                <button type="button" class="btn btn-link shadow-none p-0 ms-2" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= inline_svg_tag('icons/icon_three_dots.svg') %>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to comment_path(comment), class:"dropdown-item", method: :delete, data:{confirm:"Estás segura de eliminar este comentario?"}, remote: true do %>
                            <%= inline_svg_tag('icons/icon_trash.svg') %>
                            Eliminar
                        <% end %>
                    </li>
                </ul>
            </div>
            <% end %>
        </span>
    </div>
    <div id="links-comment-<%= comment.id %>" class="links-comment d-flex align-items-center">
        <% if user_signed_in? %>
            <!-- <div class="btn btn-link">Me gusta</div> 
                <i class="bi bi-dot"></i>  -->
                <div class="btn btn-link link-reply link-reply-<%= comment.id %>" data-comment="comment-<%= comment.id %>" data-post="<%= @post.id %>" data-id="<%= comment.id %>" data-type="Comment" data-modal="<%= @modal %>">Responder</div> 
                <i class="bi bi-dot link-reply-<%= comment.id %>"></i> 
                
        <% end %>
            <div id="count-reply-<%= comment.id %>">
                <% if comment.comments.present? %>
                    <a class="btn btn-link count-reply" href="<%= see_reply_path(comment_id:comment.id, post_id:@post.id, modal:@modal) %>" data-remote="true">Ver <%= comment.comments.count %> <%= comment.comments.count < 2 ? 'respuesta' : 'respuestas' %></a>
                    <% end %>
                </div>
                <% if comment.comments.present? %>
                    <i class="bi bi-dot"></i>
                <% end %>
            <div id="modal-comment-<%= comment.id %>"></div>
        <%= time_ago_in_words(comment.created_at) %>
    </div>
</div>

<div class="comment-reply-<%= comment.id %> box-comments">
    <% comment.comments.last(2).each do |reply| %>
    <div class="box-comment">
            <div id="comment-box-<%= reply.id %>" class="d-flex comment-box">
                <% user_reply = User.find(reply.user.to_i) %>
                <%= image_tag(user_reply.avatar_url(:thumb), class:'img-circle-avatar image-circle-avatar-comment') %>
                <span class="position-relative">
                    <div class="title-message">
                        <%= User.find(reply.user.to_i).nickname %>
                    </div>
                    <div class="message-message">
                        <%= reply.message %>
                    </div>
                    <% if user_signed_in? && reply.user = current_user %>
                        <%= link_to comment_path(reply), class:"btn btn-link icon-comment-trash", method: :delete, data:{confirm:"Estás segura de eliminar este comentario?"}, remote: true do %>
                            <%= inline_svg_tag('icons/icon_trash.svg') %>
                        <% end %>
                    <% end %>
                </span>
            </div>
            <div id="links-comment-<%= reply.id %>" class="links-comment d-flex align-items-center">
                <% if user_signed_in? %>
                    <!-- <div class="btn btn-link">Me gusta</div> 
                        <i class="bi bi-dot"></i>  -->
                        <div class="btn btn-link link-reply" data-comment="comment-box-<%= reply.id %>" data-post="<%= @post.id %>" data-id="<%= reply.id %>" data-type="Comment" data-modal="<%= @modal %>">Responder</div> 
                        <i class="bi bi-dot"></i> 
                        
                <% end %>
                <% if reply.comments.present? %>
                    <div id="count-reply-<%= reply.id %>">
                        <a class="btn btn-link count-reply" href="<%= see_reply_path(comment_id:reply.id, post_id:@post.id, modal:@modal) %>" data-remote="true">Ver <%= reply.comments.count %> <%= reply.comments.count < 2 ? 'respuesta' : 'respuestas' %></a>
                    </div>
                    <i class="bi bi-dot"></i> 
                    <div id="modal-comment-<%= reply.id %>"></div>
                <% end %>
                <%= time_ago_in_words(reply.created_at) %>
            </div>
            <div class="comment-reply-<%= reply.id %> box-comments"></div>
        </div>
        <% end %>
</div>


