
<div id="comment-<%= comment.id %>" class="d-flex">
    <%= image_tag(User.find(comment.user.to_i).avatar_url(:thumb), class:'img-circle-avatar image-circle-avatar-comment') %>
    <span>
        <div class="title-message">
            <%= User.find(comment.user.to_i).nickname %>
        </div>
        <div class="message-message">
            <%= comment.message %>
        </div>
    </span>
</div>
<div class="links-comment d-flex align-items-center">
    <% if user_signed_in? %>
        <!-- <div class="btn btn-link">Me gusta</div> 
        <i class="bi bi-dot"></i> 
        <div class="btn btn-link">Responder</div> 
        <i class="bi bi-dot"></i>  -->
    <% end %>
    <%= time_ago_in_words(comment.created_at) %>
</div>