<div class="container bg-white rounded shadow-sm p-4">
   <h2 class="text-pink">Compra bits para desbloquear contenido exclusivo.</h2>
   <h5>Recuerda ingresar el mismo correo electrónico de tu cuenta MiTarde <span class="text-pink"><%= current_user.present? ? "(#{current_user.email})" : "" %></span></h5>
   <p>En Flow puedes pagar con diferentes medios de pago, como WebPay, MACH, Khipu, onepay, WebPayOneClick, Multicaja, Servipag, Chek.</p>
   <p>Elige una compra... <i class="bi bi-arrow-down-circle-fill text-pink"></i></p>
</div>
<div class="container bg-white rounded shadow-sm p-4">
   <div class="d-grid gap-3">
      <div class="g-col-sm-12 g-col-md-4">
         <div class="card shadow-sm" style="width: 100%;">
            <div class="card-body">
               <h5 class="card-title text-pink">Compra 10 bits</h5>
               <p class="card-text">Por $10.000 compra 10 bits y podrás desbloquear contenido exclusivo o suscribirte a una modelo por un mes.</p>
               <a href="https://www.flow.cl/btn.php?token=2xy2omi" class="stretched-link">
               </a>
               <%= image_tag('buttons/btn-flow-celeste.png', class:'') %>
            </div>
         </div>
      </div>
      <div class="g-col-sm-12 g-col-md-4">
         <div class="card shadow-sm" style="width: 100%;">
            <div class="card-body">
               <h5 class="card-title text-pink">Compra 30 bits</h5>
               <p class="card-text">Por $30.000 compra 30 bits y podrás desbloquear contenido exclusivo o suscribirte a una modelo por un mes.</p>
               <a href="https://www.flow.cl/btn.php?token=klaibcc" class="stretched-link">
               </a>
               <%= image_tag('buttons/btn-flow-celeste.png', class:'') %>
            </div>
         </div>
      </div>
      <div class="g-col-sm-12 g-col-md-4">
         <div class="card shadow-sm" style="width: 100%;">
            <div class="card-body">
               <h5 class="card-title text-pink">Compra 60 bits</h5>
               <p class="card-text">Por $55.000 compra 60 bits y podrás desbloquear contenido exclusivo o suscribirte a una modelo por un mes.</p>
               <a href="https://www.flow.cl/btn.php?token=q5adpyp" class="stretched-link">
               </a>
               <%= image_tag('buttons/btn-flow-celeste.png', class:'') %>
            </div>
         </div>
      </div>
      <div class="g-col-sm-12 g-col-md-4">
         <div class="card shadow-sm" style="width: 100%;">
            <div class="card-body">
               <h5 class="card-title text-pink">Compra 120 bits</h5>
               <p class="card-text">Por $100.000 compra 120 bits y podrás desbloquear contenido exclusivo o suscribirte a una modelo por un mes.</p>
               <a href="https://www.flow.cl/btn.php?token=w9bjopa" class="stretched-link">
               </a>
               <%= image_tag('buttons/btn-flow-celeste.png', class:'') %>
            </div>
         </div>
      </div>
   </div>
</div>