
<% @posts.each do |post| %>
    <div id="post-<%= post.id %>" class="form-details form-profile published">
        <div class="content-published d-flex justify-content-between ">
            <div class="user-published d-flex align-items-center">
                <%= image_tag(@girl.avatar_url(:thumb), class:'img-circle-avatar') if @girl.avatar? %>
                <div class="ms-3">
                    <span><%= @girl.name.capitalize %></span>
                    <div class="datetime-published">
                        <%= time_ago_in_words post.created_at %>
                    </div>
                </div>
            </div>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to girl_post_path(@girl, post), class:"dropdown-item", method: :delete, data:{confirm:"Estás segura de eliminar este post?"}, remote: true do %>
                            <i class="bi bi-trash "></i> Eliminar
                        <% end %>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="content-published my-2">
            <%= post.content %>
        </div>
        <% if post.video.present? %>
            <%= video_tag post.video_url(:mp4), :controls => true %>
        <% end %>
        <% if post.img.present? %>
            <%= image_tag(post.img_url(:normal), class:'img-published') %>
        <% end %>
        <div>
            <div class="conteo-likes d-flex justify-content-between align-items-center">
                <div>likes</div>
                <% if post.comments.count > 1 %>
                    <div id="count-comments"><%= post.comments.count %> comentarios</div>
                <% elsif post.comments.count == 1 %>
                    <div id="count-comments"><%= post.comments.count %> comentario</div>
                <% elsif post.comments.count < 1 %>
                    <div id="count-comments">Sin comentarios</div>
                <% end %>
            </div>
            <% if user_signed_in? %>
            <div class="row-likes d-flex justify-content-between">
                <div class="btn btn-light"><i class="bi bi-hand-thumbs-up"></i> Me gusta</div>
                <div class="btn btn-light"><i class="bi bi-chat"></i> Comentar</div>
            </div>
            <hr>
            <div class="input-group input-group-comment">
                <input type="text" id="input-comment-<%= post.id %>" class="form-control" placeholder="Comenta aquí..." aria-label="Recipient's username">
                <button class="btn btn-outline-secondary button-comment" data-id="<%= post.id %>" data-type="Post" data-url="<%= comment_new_url %>" type="button" data-input="input-comment-<%= post.id %>">Button</button>
            </div>
            <div class="badge rounded-pill bg-danger badge-error-comment d-none" id="error-<%= post.id %>"></div>
            <%end%>
            <div id="body-post-<%= post.id %>" class="box-comments">
                <% post.comments.last(2).each do |comment| %>
                    <div class="d-flex align-items-center">
                        <%= image_tag(User.find(comment.user.to_i).avatar_url(:thumb), class:'img-circle-avatar') if User.find(comment.user).avatar? %>
                        <span>
                            <div class="title-message">
                                <%= User.find(comment.user.to_i).nickname %>
                            </div>
                            <div class="message-message">
                                <%= comment.message %>
                            </div>
                        </span>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
<% end %>