

<div id="post-<%= post.id %>" class="form-details form-profile published">
        <div class="content-published <%= post.video.present? || post.img.present? ? 'active' : '' %> d-flex justify-content-between ">
            <div class="user-published d-flex align-items-center">
                <% if action_name == "index" %>
                    <%= link_to post.girl do %>
                        <%= image_tag(post.girl.avatar_url(:thumb), class:'img-circle-avatar') if post.girl.avatar? %>
                    <%end%>
                <%else%>
                    <%= image_tag(post.girl.avatar_url(:thumb), class:'img-circle-avatar') if post.girl.avatar? %>
                <%end%>
                <div class="ms-3">
                    <span>
                        <% if action_name == "index" %>
                            <%= link_to post.girl do %>
                                <%= post.girl.name.capitalize %>
                            <% end %>
                        <% else %>
                            <%= post.girl.name.capitalize %>
                        <% end %>
                    </span>
                    <div class="datetime-published">
                        <%= time_ago_in_words post.created_at %>
                    </div>
                </div>
            </div>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                    <% if user_signed_in? && post.user == post.girl.user && post.girl.user == current_user %>
                        <li>
                            <%= link_to girl_post_path(post.girl, post), class:"dropdown-item d-flex align-items-center", method: :delete, data:{confirm:"Estás segura de eliminar este post?"}, remote: true do %>
                                <%= inline_svg_tag('icons/icon_trash.svg', class:'me-2') %> <span>Eliminar</span> 
                            <% end %>
                        </li>

                    <% else %>
                        <li><span class="dropdown-item-text">Para acceder a las opciones, debes iniciar sesión o registrarte.</span></li>
                        <li>
                            <%= link_to new_user_session_path, class:'dropdown-item' do %>
                                <%= inline_svg_tag('icons/icon_sign-in.svg') %> Inicia Sesión
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_user_registration_path, class:'dropdown-item' do %>
                                <i class="bi bi-plus-square"></i> Crear Cuenta
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
            
        </div>
        <div class="content-published my-3 <%= post.video.present? || post.img.present? ? 'active' : '' %>">
            <% if post.video.present? || post.img.present? %>
                <%= post.content %>
            <%else%>
                <%= post.content%>
            <%end%>
        </div>
        <% if post.video.present? %>
            <%= video_tag post.video_url(:mp4), :controls => true, class:'video-published video-js vjs-theme-city' %>
        <% end %>
        <% if post.img.present? %>
            <%= image_tag(post.img_url(:normal), class:'img-published') %>
        <% end %>
        <div>
            <%= link_to see_comments_path(id:post.id), class:"link-none #{(post.comments.present? || post.poly_likes.present?) ? '' : 'disabled'}", id:"link-post-#{post.id}", remote:true do %>
                <div class="conteo-likes d-flex justify-content-between align-items-center">
                    <div class="d-flex" id="likes-post-<%= post.id %>">
                        <% post.poly_likes.select(:emoji).group(:emoji).each do |poly_like| %>
                            <div class="d-flex align-items-center icon-count">
                                <span class="icon">
                                    <%= image_tag('icons/emojis/'+poly_like.emoji+'.png', style:'width:25px;') %>
                                </span>
                                <span>
                                    <%= post.poly_likes.where(emoji:poly_like.emoji).count %>
                                </span>
                            </div>
                        <% end %>
                    </div>
                    <% if post.comments.count > 1 %>
                        <div id="count-comments-<%= post.id %>"><%= post.comments.count %> comentarios</div>
                    <% elsif post.comments.count == 1 %>
                        <div id="count-comments-<%= post.id %>"><%= post.comments.count %> comentario</div>
                    <% elsif post.comments.count < 1 %>
                        <div id="count-comments-<%= post.id %>">Sin comentarios</div>
                    <% end %>
                </div>
            <% end %>
            <hr>
            <% if user_signed_in? %>
            <div class="row-likes d-flex justify-content-between">
                <div class="btn-group dropdown dropup w-100">
                    <button id="button-like" class="btn btn-link btn-sm dropdown-toggle fw-bold" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-hand-thumbs-up"></i> Te gustó?
                    </button>
                    <ul class="dropdown-menu dropdown-menu-likes">
                        <div class="d-flex justify-content-between">
                            <a class="like-button-emoji" data-post="<%= post.id %>" data-emoji="0" data-type="Post">
                                <%= image_tag('icons/gif/heart.gif', class:'icon-likes') %>
                            </a>
                            <a class="like-button-emoji" data-post="<%= post.id %>" data-emoji="1" data-type="Post">
                                <%= image_tag('icons/gif/devil.gif', class:'icon-likes') %>
                            </a>
                            <a class="like-button-emoji" data-post="<%= post.id %>" data-emoji="2" data-type="Post">
                                <%= image_tag('icons/gif/love.gif', class:'icon-likes') %>
                            </a>
                            <a class="like-button-emoji" data-post="<%= post.id %>" data-emoji="3" data-type="Post">
                                <%= image_tag('icons/gif/angry.gif', class:'icon-likes') %>
                            </a>
                            <a class="like-button-emoji" data-post="<%= post.id %>" data-emoji="4" data-type="Post">
                                <%= image_tag('icons/gif/wink.gif', class:'icon-likes') %>
                            </a>
                            <a class="like-button-emoji" data-post="<%= post.id %>" data-emoji="5" data-type="Post">
                                <%= image_tag('icons/gif/kiss.gif', class:'icon-likes') %>
                            </a>
                        </div>
                    </ul>
                  </div>
                <div class="btn btn-link btn-sm comment-button fw-bold" data-modal="false" data-input="<%= post.id %>" data-type="Post" data-post="<%= post.id %>">
                    <i class="bi bi-chat"></i> Salúdame 
                </div>
            </div>
            <hr id="hr-bottom-<%= post.id %>" class="<%= post.comments.present? ? '' : 'd-none' %>">
            <div class="box-comments mb-0">
                <div class="d-flex comment-link-<%= post.id %>" id=""></div>
                <div class="close-reply close-reply-<%= post.id %> d-none comment-button" data-modal="false" data-input="<%= post.id %>" data-type="Post" data-post="<%= post.id %>"><i class="bi bi-x"></i></div>
            </div>
            <div id="input-comment-put-<%= post.id %>" class="input-group input-group-comment d-none">
                <input type="text" id="input-comment-<%= post.id %>" 
                    data-button="button-comment-<%= post.id %>" 
                    class="form-control input-comment" 
                    placeholder="Comenta aquí...">
                <button id="button-comment-<%= post.id %>" 
                        class="btn btn-outline-secondary button-comment" 
                        data-id="<%= post.id %>" 
                        data-type="Post" 
                        data-post="<%= post.id %>"
                        data-url="<%= comment_new_url %>" 
                        type="button" 
                        data-input="input-comment-<%= post.id %>">
                    Comenta
                </button>
            </div>
            <div class="badge rounded-pill bg-danger badge-error-comment d-none" id="error-<%= post.id %>"></div>
            <%end%>
            <div id="body-post-<%= post.id %>" class="box-comments">
                <% post.comments.last(2).each do |comment| %>
                    <div id="comment-box-<%= comment.id %>" class="d-flex">
                        <%= image_tag(User.find(comment.user.to_i).avatar_url(:thumb), class:'img-circle-avatar image-circle-avatar-comment') %>
                        <span class="position-relative">
                            <div class="title-message">
                                <%= User.find(comment.user.to_i).nickname %>
                            </div>
                            <div class="message-message">
                                <%= comment.message %>
                            </div>
                            <% if user_signed_in? && comment.user = current_user %>
                                <%= link_to comment_path(comment), class:"btn btn-link icon-comment-trash", method: :delete, data:{confirm:"Estás segura de eliminar este comentario?"}, remote: true do %>
                                    <%= inline_svg_tag('icons/icon_trash.svg') %>
                                <% end %>
                            <% end %>
                        </span>
                    </div>
                    <div id="links-comment-<%= comment.id %>" class="links-comment d-flex align-items-center">
                        <% if user_signed_in? %>
                            <!-- <div class="btn btn-link">Me gusta</div> 
                                <i class="bi bi-dot"></i>  -->
                                <div class="btn btn-link link-reply" data-comment="comment-box-<%= comment.id %>" data-post="<%= post.id %>" data-id="<%= comment.id %>" data-type="Comment">Responder</div>
                                <i class="bi bi-dot"></i> 
                        <% end %>
                        <% if comment.comments.present? %>
                            <div id="count-reply-<%= comment.id %>">
                                <%= link_to see_reply_path(comment_id:comment.id, post_id: post.id, for_post:true, modal:false), class:'btn btn-link', remote:true do %> 
                                    Ver <%= comment.comments.count %> <%= comment.comments.count < 2 ? 'respuesta' : 'respuestas' %>
                                <% end %>
                            </div>
                            <i class="bi bi-dot"></i> 
                            <div id="modal-comment-<%= comment.id %>"></div>
                        <% end %>
                        <%= time_ago_in_words(comment.created_at) %>
                    </div>
                    <div class="comment-post-reply-<%= comment.id %> box-comments"></div>
                <%end%>
            </div>
        </div>
    </div>
