
<% @posts.each do |post| %>
    <div id="post-<%= post.id %>" class="form-details form-profile published">
        <div class="content-published d-flex justify-content-between ">
            <div class="user-published d-flex align-items-center">
                <%= image_tag(@girl.avatar_url(:thumb), class:'img-circle-avatar') if @girl.avatar? %>
                <div class="ms-3">
                    <span><%= @girl.name.capitalize %></span>
                    <div class="datetime-published">
                        <%= time_ago_in_words post.created_at %>
                    </div>
                </div>
            </div>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to girl_post_path(@girl, post), class:"dropdown-item", method: :delete, data:{confirm:"Estás segura de eliminar este post?"}, remote: true do %>
                            <i class="bi bi-trash "></i> Eliminar
                        <% end %>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="content-published my-2">
            <%= post.content %>
        </div>
        <% if post.video.present? %>
            <%= video_tag post.video_url(:mp4), :controls => true %>
        <% end %>
        <% if post.img.present? %>
            <%= image_tag(post.img_url(:normal), class:'img-published') %>
        <% end %>
    </div>
<% end %>