<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true"><i class="bi bi-info-square"></i> Info</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="bi bi-briefcase"></i> Servicios</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="bi bi-file-medical"></i> Salud</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent" style="min-height: 225px;">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-details">Editar Info</div>

        <div class="p-3">
            <% if @girl.service_type != 'escort' %>
            <div class="d-flex justify-content-between">
                <strong>Tipo de Servicio:</strong> 
                <div>
                    <%= enum_i18n(Girl,:service_type ,@girl.service_type) %>
                </div>
            </div>
            <% end %>
            <% if @girl.edad? %>
            <div class="d-flex justify-content-between">
                <strong>Edad:</strong> <div><%= @girl.edad %> años</div>
            </div>
            <% end %>
            <% if @girl.kilos? %>
            <div class="d-flex justify-content-between">
                <strong>Peso:</strong> <div><%= @girl.kilos %> kg.</div>
            </div>
            <% end %>
            <% if @girl.estatura? %>
            <div class="d-flex justify-content-between">
                <strong>Estatura:</strong> <span>1.<%= @girl.estatura %> mts.</span>
            </div>
            <% end %>
            <% if @girl.busto? && @girl.cintura? && @girl.cadera? %>
            <div class="d-flex justify-content-between">
                <strong>Medidas:</strong> <div><span><%= @girl.busto %></span>-<span><%= @girl.cintura %></span>-<span><%= @girl.cadera %></span></div>
            </div>
            <% end %>
            <% if @girl.cabello? %>
            <div class="d-flex justify-content-between">
                <strong>Cabello:</strong> <span><%= @girl.cabello %></span>
            </div>
            <% end %>
            <% if @girl.ojos? %>
            <div class="d-flex justify-content-between">
                <strong>Ojos:</strong> <span><%= @girl.ojos %></span>
            </div>
            <% end %>
            <% if @girl.depilacion? %>
            <div class="d-flex justify-content-between">
                <strong>Depilación:</strong> <span><%= @girl.depilacion %></span>
            </div>
            <% end %>
            <% if @girl.modalidad? %>
            <div class="d-flex justify-content-between">
                <strong>Atención en:</strong> <span><%= @girl.modalidad %></span>
            </div>
            <% end %>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="btn btn-light">Agregar Servicios</div>

    </div>
    <div class="tab-pane fade text-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="btn btn-light">Agregar Salud</div>
        <div class="p-3">
            <h1>Cuidado COVID:</h1>  
            <p>Mascarilla, Alcohol gel, Toallas desechables</p> 
        </div>
    </div>
  </div>
  
 
  

