<div class="modal-body">
    <%= form_with(model: @girl, id:'form-details-info') do |form| %>
    <div class="form-group">
        <label for="girl_service_type">Que servicio brindas?</label>
        <select name="girl[service_type]" id="girl_service_type" class="form-control" >
          <option value="escort">Escort</option>
          <option value="massage">Masajista</option>
          <option value="virtual">Servicios Virtuales</option>
        </select>
      </div>
        <div class="form-group">
            <%= form.label :edad %>
            <%= form.text_field :edad, class:'form-control' %>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <%= form.label :estatura %>
                <div class="input-group">
                    <div class="input-group-text">
                        1.
                    </div>
                    <%= form.select :estatura, Girl::ESTATURA, {}, {class:'form-select'} %>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <%= form.label :cabello %>
                <div class="input-group">
                    <div class="input-group-text">
                        Color
                    </div>
                    <%= form.select :cabello, Girl::CABELLO_LIST, {}, {class:'form-select'} %>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <%= form.label :kilos, "Peso" %>
                <div class="input-group">
                    <div class="input-group-text">
                        kg
                    </div>
                    <%= form.select :kilos, Girl::KILOS, {}, {class:'form-select'} %>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <%= form.label :ojos, "Ojos" %>
                <div class="input-group">
                    <div class="input-group-text">
                        Color
                    </div>
                    <%= form.select :ojos, Girl::OJOS_LIST, {}, {class:'form-select'} %>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <%= form.label :depilacion, "Depilación" %>
                <div class="input-group">
                    <div class="input-group-text">
                        Tipo
                    </div>
                    <%= form.select :depilacion, Girl::DEPILACION_LIST, {}, {class:'form-select'} %>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <%= form.label "Medidas" %>
            <div class="input-group mb-2">
                <div class="input-group-text">
                    Busto
                </div>
                <%= form.select :busto, Girl::CM, {}, {class:'form-select'} %>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-text">
                    Cintura
                </div>
                <%= form.select :cintura, Girl::CM, {}, {class:'form-select'} %>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-text">
                    Cadera
                </div>
                <%= form.select :cadera, Girl::CM, {}, {class:'form-select'} %>
            </div>
        </div>
        <div class="form-group">
            <%= form.label :modalidad, "Modalidad trabajo" %>
            <div class="input-group">
                <div class="input-group-text">
                    Tipo
                </div>
                <%= form.select(:modalidad, Girl::TRABAJO_LIST, {}, {class:'form-select'}) %>
            </div>
        </div>
    
    
    
    
    
    
   
        <%= form.submit "Guardar", class:'btn btn-primary d-none', id:'submit-details-form' %>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
    <button id="submit-details" class="btn btn-primary">Guardar</button>
</div>
<% end %>