<div class="modal-body">
    <%= form_with(model: @girl, id:'form-details-info') do |form| %>
        <div class="box-air d-flex flex-wrap justify-content-center">
            <h5>Que servicio brindas?</h5>
            <div class="form-inline d-flex flex-wrap justify-content-between" style="width: 100%;">
                <div class="form-group form-group-radio">
                    <%= form.radio_button :service_type, :escort, id:'type-escort', checked: (@girl.service_type == "escort"), class:'input-checkbox' %>
                    <label for="type-escort">Escort</label>
                </div>
                <div class="form-group form-group-radio">
                    <%= form.radio_button :service_type, :massage, id:'type-massage', checked: (@girl.service_type == "massage"), class:'input-checkbox' %>
                    <label for="type-massage">Masajista</label>
                </div>
                <div class="form-group form-group-radio">
                    <%= form.radio_button :service_type, :virtual, id:'type-virtual', checked: (@girl.service_type == "virtual"), class:'input-checkbox' %>
                    <label for="type-virtual">Virtual</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <%= form.label :edad %>
            <%= form.text_field :edad, class:'form-control' %>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <%= form.label :estatura %>
                <div class="input-group">
                    <div class="input-group-text">
                        1.
                    </div>
                    <%= form.select :estatura, Girl::ESTATURA, {}, {class:'form-select'} %>
                </div>
            </div>
            <div class="form-group">
                <%= form.label :kilos, "Peso" %>
                <div class="input-group">
                    <div class="input-group-text">
                        kg
                    </div>
                    <%= form.select :kilos, Girl::KILOS, {}, {class:'form-select'} %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <%= form.label "Medidas" %>
                    <div class="input-group mb-2">
                        <div class="input-group-text">
                            <%= image_tag('busto.png', style:'height:40px') %>
                        </div>
                        <%= form.select :busto, Girl::CM, {}, {class:'form-select'} %>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-text">
                            <%= image_tag('cintura.png', style:'height:40px; width:60px;') %>
                        </div>
                        <%= form.select :cintura, Girl::CM, {}, {class:'form-select'} %>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-text">
                            <%= image_tag('cadera.png', style:'height:40px') %>
                        </div>
                        <%= form.select :cadera, Girl::CM, {}, {class:'form-select'} %>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <%= image_tag('silueta', style:'height:220px') %>
            </div>
        </div>
        <div class="box-air d-flex flex-wrap justify-content-center">
            <h5>Color de cabello</h5>
            <div class="form-inline d-flex flex-wrap justify-content-between">
                <% Girl::CABELLO_LIST.each do |cabello| %>
                    <div class="form-group form-group-radio">
                        <%= form.radio_button :cabello, cabello, id:'cabello-'+cabello, checked: (@girl.cabello == cabello), class:'input-checkbox' %>
                        <label for="cabello-<%= cabello %>"><%= cabello %></label>
                    </div>
                <% end %>
            </div>
        </div>
        
        <div class="box-air d-flex flex-wrap justify-content-center">
            <h5>Color de ojos</h5>
            <div class="form-inline d-flex flex-wrap justify-content-between">
                <% Girl::OJOS_LIST.each do |color| %>
                    <div class="form-group form-group-radio">
                        <%= form.radio_button :ojos, color, id:'eye-'+color, checked: (@girl.ojos == color), class:'input-checkbox' %>
                        <label for="eye-<%= color %>"><%= color %></label>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="box-air d-flex flex-wrap justify-content-center">
            <h5>Tipo Pussy</h5>
            <div class="form-inline d-flex flex-wrap justify-content-between">
                <% Girl::DEPILACION_LIST.each do |depilation| %>
                    <div class="form-group form-group-radio">
                        <%= form.radio_button :depilacion, depilation, id:'depilation-'+depilation, checked: (@girl.depilacion == depilation), class:'input-checkbox' %>
                        <label for="depilation-<%= depilation %>"><%= depilation %></label>
                    </div>
                <% end %>
            </div>
            <%= image_tag 'depilacion', style:'width:100%', class:'mt-2' %>
        </div>
        
        <div class="form-group">
            <%= form.label :modalidad, "Modalidad trabajo" %>
            <div class="input-group">
                <div class="input-group-text">
                    Tipo
                </div>
                <%= form.select(:modalidad, Girl::TRABAJO_LIST, {}, {class:'form-select'}) %>
            </div>
        </div>

    <%= form.submit "Guardar", class:'btn btn-primary d-none', id:'submit-details-form' %>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
    <button id="submit-details" class="btn btn-primary">Guardar</button>
</div>
<% end %>