<%= form_with(model: @girl) do |form| %>
      <div class="avatar-form d-flex justify-content-center">
        <%= image_tag(@girl.avatar_url(:thumb), class:'img-circle-form') if @girl.avatar? %>
      </div>
      <div class="form-group">

        <%= form.label :avatar, 'Descripción' %>
          <%= form.file_field :avatar, class:'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :portada %>
          <%= form.file_field :portada, class:'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :name, 'Seudónimo Artístico' %>
          <%= form.text_field :name, class:'form-control' %>

      </div>
      <div class="form-group">
        <%= form.label :address, 'Dirección Cercana' %>
          <%= form.text_field :address, class:'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price, 'Precio' %>
          <%= form.select :price, Girl::PRICE_LIST,{}, {class:'form-control', id:'precio-hora'}%>
      </div>
      <div class="form-group">
        <%= form.label :description, ' Descripción' %>
          <%= form.text_area :description, class:'form-control' %>
      </div>

      

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>