

    
    <!-- content -->

    
    
    <!-- imagen -->

    <picture class="picture-portada d-flex justify-content-center">
        <%= image_tag(@girl.portada_url(:medium), class:'portada') %>
        <%= image_tag(@girl.avatar_url(:thumb), class:'img-circle') if @girl.avatar? %>
        <%= link_to @like.present? ? delete_like_path(likeable_id:@girl.id, likeable_type:'Girl') : poly_likes_path(likeable_id:@girl.id, likeable_type:'Girl'), class:"btn btn-light #{@like.present? ? 'animate__heartBeat' : ''}", id:"like-girl", method:"POST", remote:true do %>
            <%= inline_svg_tag 'icons/heart.svg' %>
        <% end %>
        <%= link_to :root, class:'btn btn-light to_dashboard' do %>
            <%= inline_svg_tag 'icons/icon_chevron_left.svg' %>
        <%end%>
    </picture>
    <div class="d-flex justify-content-center flex-wrap pb-3">
        
    
        <!-- datos -->
    
        <div class="informacion">
            <div class="name">
                <%= @girl.name.upcase %>
            </div>
            <div class="direction">
                <%= inline_svg_tag('icons/map-pin.svg') %>
                <%= @girl.address %>
            </div>
            <div class="edad">
                <%= @girl.edad ?  "#{@girl.edad} años" : "" %><%= @girl.nacionalidad.present? && @girl.nacionalidad != 'Otra' && @girl.edad.present? ? ', ' : '' %><%= @girl.nacionalidad.present? && @girl.nacionalidad != 'Otra' ? @girl.nacionalidad.capitalize : '' %>
                <%= @girl.nacionalidad.present? && @girl.nacionalidad != "Otra" ? inline_svg_tag("icons/flag/flag_#{@girl.nacionalidad}.svg", class:'flag-icon') : '' %>
            </div>
            <div class="atencion">
                <%= @girl.horario %>
            </div>
            <div class="precio">
                <% if @girl.price == 'a consultar' %>
                    Valor a consultar
                <% else %>
                    Valor desde $<%= number_with_delimiter @girl.price.to_i, delimiter:'.' %>
                <% end %>
            </div>
            <div id="contact-buttons" class="d-flex justify-content-center">
                <a href="tel:+56<%= @girl.try(:phone) %>" class="btn btn-light">
                    <%= inline_svg_tag 'icons/phone.svg' %>
                </a>
                <a href="https://wa.me/+56<%= @girl.try(:phone) %>?text=Hola%20<%= @girl.name.titleize %>%20te%20hablo%20desde%20UrbanSex.cl,%20estas%20disponible?" target="_blank" class="circle btn btn-light ">
                    <%= inline_svg_tag('icons/icon_whatsapp.svg', class:'icon-whatsapp') %>
                </a>
            </div>
            
        </div>
        
    </div>
    <% if @girl.description.present? %>
        <div class="description border-top d-flex justify-content-center flex-wrap">
            <h2>
                <%= @girl.description %>
            </h2>
        </div>
    <% end %>