

    
    <!-- content -->

    
    
    <!-- imagen -->
    <picture class="picture-portada d-flex justify-content-center">
        <%= image_tag(@girl.portada_url(:medium), class:'portada') %>
        <%= image_tag(@girl.avatar_url(:thumb), class:'img-circle') if @girl.avatar? %>
    </picture>
    <div class="d-flex justify-content-center flex-wrap pb-3">
        
    
        <!-- datos -->
    
        <div class="informacion">
            <div class="name">
                <%= @girl.name.upcase %>
            </div>
            <div class="direction">
                <%= inline_svg_tag('icons/map-pin.svg') %>
                    <%= @girl.address %>
            </div>
            <div class="edad">
                <%= @girl.edad ?  "#{@girl.edad} años" : "" %><%= @girl.nacionalidad ? ', ' + @girl.nacionalidad.capitalize : '' %>
            </div>
            <div class="atencion">
                <%= @girl.horario %>
            </div>
            <div class="precio">
                <% if @girl.price == 'a consultar' %>
                    Valor a consultar
                <% else %>
                    Valor desde $<%= number_with_delimiter @girl.price.to_i, delimiter:'.' %>
                <% end %>
            </div>
            
        </div>
        
    </div>
    <% if @girl.description.present? %>
        <div class="description border-top d-flex justify-content-center flex-wrap">
            <h2>
                <%= @girl.description %>
            </h2>
        </div>
    <% end %>
