
<div id="container-info-girl" class="container-girls">
    <%= render 'girl_show' %>
</div>

<div class="container-content">
    <%= render './girls/modules/config' %>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <!-- Detalles -->
            <%= render './girls/modules/details' %>
            <!-- Gallery -->
            <%= render './girls/modules/gallery' %>
        </div>

        <div class="col-sm-12 col-md-7">
            <% if user_signed_in? && @girl.user == current_user %>
                <%= render 'girls/modules/add_publication' %>
            <% end %>
            <div id="box-published">
                <%= render @posts %>
            </div>
            <div id="paginate-posts" class="d-none">
                <%= paginate @posts, remote:true %>
            </div>
        </div>
    </div>
</div>    
    <!-- modals -->
    <%= render 'girls/modals/modal_perfil' %>
    <%= render 'girls/modals/modal_details' %>
    <%= render './comments/modal_comments' %>