<div id="sub-menu" class="sticky-top">
    <%= render 'girl_header' %>
</div>
<div id="container-info-girl" class="container-girls">
    <%= render 'girl_show' %>
</div>


<div class="container-content">

    <div class="form-perfil d-flex justify-content-start">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil">
            Editar Perfil
        </button>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <!-- Detalles -->
    
            <div class="form-details">
                <h3>Información</h3>
                <div class="">
                    <%= render "details"%>
                </div>
    
            </div>
            <!-- Gallery -->
            <div id="box-img-thumb" class="form-details sticky-md-top" style="top: 60px;">
                <h3>Fotos</h3>
                <div class="container d-flex justify-content-between" style="margin-bottom: 8px !important;">
                    <div id="box-images-thumb" class="row">
                        <%= render "./posts/post_thumb" %>
                    </div>
                </div>
    
            </div>
        </div>

        <div class="col-sm-12 col-md-7">
            <%= render 'girls/modules/add_publication' %>
            <div id="box-published">
                <%= render "./posts/post" %>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
    
    <!-- modals -->
    <%= render 'girls/modals/modal_perfil' %>
    <%= render 'girls/modals/modal_details' %>
    <%= render './comments/modal_comments' %>