<!DOCTYPE html>
<html>
  <head>
    <title>Core</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>

  <body>
    <div class="loader">
      <div>
        <%= inline_svg_tag('icons/loader.svg') %>
      </div>
      <h1>Core</h1>
    </div>
    <%= render './partials/header' %>
      <%= yield %>
    <%= render './partials/footer' %>
  </body>
</html>
