<%= render './partials/header' %>
<div class="content-row">

  <div id="header-user" class="">
    <div class="header-user-image"></div>
    <h2 class="mb-0"><%=  @user.try(:nickname).titleize %></h2>
    <%= @user.avatar.present? ? image_tag(@user.avatar_url(:thumb), class:'avatar-perfil-edit') : inline_svg_tag('icons/icon_person_circle.svg') %>
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil"><i class="bi bi-pencil-square"></i></button>
  </div>
  <div class="activity">
    <div class="comments-in-app">
      <h5 class="text-end">Comentarios:</h5>
      <p class="text-end"><%= Comment.where(user:@user.id).count %></p>
    </div>
    <div class="comments-in-app">
      <h5 class="text-end">Ingreso:</h5>
      <p class="text-end"><%= @user.created_at.strftime('%d %B') %></p>
    </div>
    <div class="comments-in-app">
      <h5 class="text-end">Favoritas:</h5>
      <p class="text-end"><%= @user.poly_likes.where(likeable_type:'Girl').count %></p>
    </div>
    <div class="comments-in-app">
      <h5 class="text-end">Último Ingreso:</h5>
      <p class="text-end"><%= time_ago_in_words @user.last_sign_in_at %></p>
    </div>
  </div>
  <% if user_signed_in? && current_user == @user && @user.payments.present? %>
  <div class="container text-center table-responsive container-payments">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ÚLTIMO BIT</th>
          <th>BITS</th>
          <th>TOTAL</th>
          <th>DESCRIPCIÓN</th>
          <th>MONTO PAGADO</th>
          <th>FECHA</th>
        </tr>
      </thead>
      <tbody>
        
        <% @user.payments.order(created_at: :desc).each do |payment| %>
          <tr>
            <td><%= link_to payment.id, payment_path(payment) %></td>
            <td><%= payment.last_bit_amount %></td>
            <td><%= payment.media.present? ? payment.bit_amount : 0 %></td>
            <td><%= payment.try(:after_bit) %></td>
            <td><%= !payment.media.present? ? payment.status_message : payment.description %></td>
            <td><%= number_to_currency(payment.amount, precision:0, delimiter:'.') %></td>
            <td><%= format_date payment.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
  <%= render "edit_form"%>
</div>


