<%= render './partials/header' %>
<div id="header-user" class="">
  <div class="header-user-image"></div>
  <h2 class="mb-0"><%=  @user.try(:nickname).titleize %></h2>
  <%= @user.avatar.present? ? image_tag(@user.avatar_url(:thumb), class:'avatar-perfil-edit') : inline_svg_tag('icons/icon_person_circle.svg') %>
  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil"><i class="bi bi-pencil-square"></i></button>
</div>
<div class="activity">
  <div class="comments-in-app">
    <h5 class="text-end">Comentarios:</h5>
    <p class="text-end"><%= Comment.where(user:@user.id).count %></p>
  </div>
  <div class="comments-in-app">
    <h5 class="text-end">Ingreso:</h5>
    <p class="text-end"><%= @user.created_at.strftime('%d %B') %></p>
  </div>
  <div class="comments-in-app">
    <h5 class="text-end">Favoritas:</h5>
    <p class="text-end"><%= @user.poly_likes.where(likeable_type:'Girl').count %></p>
  </div>
  <div class="comments-in-app">
    <h5 class="text-end">Último Ingreso:</h5>
    <p class="text-end"><%= time_ago_in_words @user.last_sign_in_at %></p>
  </div>
</div>
<% if user_signed_in? && current_user == @user %>
<div class="container text-center">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>ORDEN DE COMPRA</th>
        <th>DESCRIPCIÓN</th>
        <th>MONTO PAGADO</th>
        <th>FECHA</th>
        <th>PLAN</th>
        <th>BITS</th>
      </tr>
    </thead>
    <tbody>
      <% @user.payments.each do |payment| %>
        <tr>
          <td><%= payment.id %></td>
          <td><%= payment.buy_order %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount, precision:0, delimiter:'.') %></td>
          <td><%= format_date payment.updated_at %></td>
          <td><%= payment.bits.titleize %></td>
          <td><%= payment.bit_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<%= render "edit_form"%>


